In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lab-mnd\anaconda3\lib\site-packages (8.3.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
#Importation des modules 
import pandas as pd
import mysql.connector
from mysql.connector import Error

#Chargement des données
Online_retail_data = pd.read_excel("C:/Users/LAB-MND/Desktop/systemeInfedecis/Online Retail.xlsx")
print(Online_retail_data.columns)

colonnes = ['Numero_Produit', 'Code_stock', 'description', 'Quantite','Prix_unitaire', 'ID_Client', 'Pays']
Online_retail_data.columns = colonnes 
print('----------------------------------------------------------------')
print(Online_retail_data.columns)

# Chargement du dataframe dans MYSQL
try:
    connexion = mysql.connector.connect(host='localhost',
                                       database='sid',
                                       user='root',
                                       password='')
    if connexion.is_connected():
        print('Connexion à MySQL réussie')
except Error as e:
    print(f"Erreur lors de la connexion à MySQL: {e}")

try:
    cursor = connexion.cursor()

    for i,row in Online_retail_data.iterrows():
        sql = """INSERT INTO culture_Online_retail_data (Numero_Produit,Code_stock,Description,Date_Facturaction,Prix_unitaire,ID_Client,e,Pays) VALUES (%s,%s,%s,%s,%s,%s,%s)"""
        #print(sql)
        cursor.execute(sql, tuple(row))

    connexion.commit()
    connexion.close()
    print("DataFrame chargé dans MySQL avec succès!")
except Exception as e:
    print(f"Erreur lors du chargement du DataFrame dans MySQL: {e}")